*{
    margin: 0;
    padding: 0;}
body{
    font-family: owsald, sans-serif;
    font-size: 1,6px;
    line-height:normal;
   color: white;
}
.index .texto{    
}


server image {
    width: 80%;
    height: auto;
    margin: 20px 10%;
}

nav ul {
    display: flex;
    justify-content: center;}

nav ul li{ 
    margin: 0% 16px;
    list-style: none;
    justify-content: center;
}
nav ul li a{
    font-family: owsald, sans-serif;
    color:rgb(255, 255, 255)
}

section{
padding: 32px 0;
}

section h2, section h3, section h4 ul{
    text-align: center;
    color: rgb(255, 255, 255);
    }
.services-img{
    width: 80%;
    height: auto;
    margin: 20px 10%;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center; }
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 15px auto;
}
form input,
form textarea,
form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
form button {
    padding: 8px;
    }
  